:root {
    --style-red: #b3001b;
    --style-black: #262626;
    --style-medium-blue: #255c99;
    --style-light-blue: #7ea3cc;
    --style-tan: #ccad8f;
}

body {
    background: var(--style-black);
}

/* Navbar */
.navbar {
    background: var(--style-medium-blue) !important;
}

.nav-link {
    margin-right: 1rem !important;
}

.navbar-toggler {
    background: var(--style-black);
}

/* Header */
.header {
    background-image: url('/images/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

/* Welcome */
.welcome {
    position: absolute;
    top: 30%;
}

.hi {
    color: var(--style-light-blue);
    font-size: 60px;
}

/* About Me Section */
#about-image {
    height: 100%;
    width: 100%;
    padding-right: 2rem;
    border-right: 3px solid var(--style-light-blue);
}

.about {
    color: white;
    line-height: 2rem;
    margin-top: 100px;
    margin-bottom: 0;
    padding: 40px 90px;
    position: relative;
}

.me {
    color: var(--style-red);
}

