:root {
    --style-red: #b3001b;
    --style-black: #262626;
    --style-medium-blue: #255c99;
    --style-light-blue: #7ea3cc;
    --style-tan: #ccad8f;
}

body {
    background: var(--style-black);
}

/* Navbar */
.navbar {
    background: var(--style-red) !important;
}

.nav-link {
    margin-right: 1rem !important;
}

.navbar-toggler {
    background: var(--style-black);
}

/* Header */
.header {
    background-image: url('/images/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
